<%= tag.div(flash[:alert], class: "alert alert-danger") if flash[:alert] %>
<%= tag.div(flash[:notice], class: "alert alert-success") if flash[:notice] %>

<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="card" style="width: 100%; max-width: 400px;">
    <div class="card-body">
      <h5 class="card-title text-center mb-4">Acesso</h5>
      
      <%= form_with url: session_path, class: "form" do |form| %>
        <div class="mb-3">
          <%= form.label :email_address, "Email", class: "form-label" %>
          <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Seu email", value: params[:email_address], class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :password, "Senha", class: "form-label" %>
          <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Sua senha", maxlength: 72, class: "form-control" %>
        </div>

        <div class="d-grid gap-2">
          <%= form.submit "Entrar", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
