<tr id="<%= dom_id proponent %>">
  <td><%= proponent.name %></td>
  <td><%= proponent.birthdate %></td>
  <td><%= proponent.income %></td>
  <td>
    <%= link_to 'Detalhes', proponent %>
  </td>
</tr>