<nav aria-label="Paginação">
  <ul class="pagination justify-content-center">
    <% if paginate.first %>
      <li class="page-item">
        <%= link_to "Primeira", paginate.first, class: "page-link" %>
      </li>
    <% end %>

    <% if paginate.previous %>
      <li class="page-item">
        <%= link_to "Anterior", paginate.previous, class: "page-link" %>
      </li>
    <% end %>

    <% paginate.each do |page| %>
      <li class="page-item <%= 'active' if page.current? %>">
        <%= link_to page.number, page, class: "page-link" %>
      </li>
    <% end %>

    <% if paginate.next %>
      <li class="page-item">
        <%= link_to "Próxima", paginate.next, class: "page-link" %>
      </li>
    <% end %>

    <% if paginate.last %>
      <li class="page-item">
        <%= link_to "Última", paginate.last, class: "page-link" %>
      </li>
    <% end %>
  </ul>
</nav>
