<%= form_with(model: proponent, class: "row g-3") do |form| %>
  <% if proponent.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(proponent.errors.count, "error") %> prohibited this proponent from being saved:</h2>

      <ul>
        <% proponent.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <div class="col-6">
      <%= form.text_field :name, class: "form-control", placeholder: "Nome" %>
    </div>

    <div class="col-3">
      <%= form.text_field :birthdate, class: "form-control", data: {
    controller: "flatpickr",
    flatpickr_enable_time: true
  }, placeholder: "Data de nascimento" %>
    </div>

    <div class="col-3">
      <%= form.text_field :income, class: "form-control", placeholder: "Salário" %>
    </div>
  </div>
  
    <div class="col-12">
      <%= form.submit "Cadastrar proponente", class: "btn btn-primary" %>
    </div>

<% end %>
