<div class="card mt-3">
  <div class="card-header">
    Documentos de <%= @proponent.name %>
  </div>
  <div class="card-body">
    <div id="documents">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Tipo</th>
            <th scope="col">Número</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% proponent.documents.each do |document| %>
            <tr>
              <td><%= document.kind %></td>
              <td><%= document.document %></td>
                <td>
                  <div class="pt-2 d-flex justify-content-end">
                    <%= button_to "Excluir", proponent_proponent_document_path(@proponent, document), method: :delete, class: "btn btn-danger me-4  btn-sm text-uppercase" %>
                    <%= link_to "Editar", edit_proponent_proponent_document_path(@proponent, document), class: "btn btn-secondary text-uppercase  btn-sm" %>
                  </div>
                </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= link_to "Novo documento", new_proponent_proponent_document_path(proponent), class: "btn btn-primary float-end text-uppercase btn-sm" %>
  </div>
</div>