<p style="color: green"><%= notice %></p>

<% content_for :title, "Proponentes" %>

<h1>Proponentes</h1>

<div id="proponents">
  <%= form_with url: proponents_path, method: :get, class: "mb-3" do |f| %>
    <div class="row">
      <div class="col-md-3">
        <%= f.text_field :by_name, placeholder: "Nome", class: "form-control" %>
      </div>
      <div class="col-md-3">
        <%= f.text_field :by_inss_level, placeholder: "Faixa INSS", class: "form-control" %>
      </div>
      <div class="col-md-2">
        <%= f.submit "Pesquisar", class: "btn btn-primary w-100" %>
      </div>
    </div>
  <% end %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Data de nascimento</th>
        <th scope="col">Salário</th>
        <th scope="col">Desconto INSS</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @proponents.each do |proponent| %>
        <%= render proponent %>
      <% end %>
    </tbody>
  </table>

  <div class="d-flex justify-content-center">
    <%= paginate @proponents, theme: 'bootstrap-4' %>
  </div>
</div>

<%= link_to "Novo", new_proponent_path, class: "btn btn-primary float-end text-uppercase" %>
