<% content_for :title, "Detalhes do proponente" %>

<p style="color: green"><%= notice %></p>

<div class="container my-5">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link <%= 'active' if @tab == 'personal' %>" id="personal-tab" data-bs-toggle="tab" data-bs-target="#personal" type="button" role="tab" aria-controls="personal" aria-selected="true">Dados pessoais</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link <%= 'active' if @tab == 'document' %>" id="document-tab" data-bs-toggle="tab" data-bs-target="#document" type="button" role="tab" aria-controls="document" aria-selected="false">Documentos</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link <%= 'active' if @tab == 'address' %>" id="address-tab" data-bs-toggle="tab" data-bs-target="#address" type="button" role="tab" aria-controls="address" aria-selected="false">Endereços</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link <%= 'active' if @tab == 'contact' %>" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contatos</button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade <%= 'show active' if @tab == 'personal' %>" id="personal" role="tabpanel" aria-labelledby="personal-tab">
      <%= render "show_personal_info", proponent: @proponent %>
    </div>

    <div class="tab-pane fade <%= 'show active' if @tab == 'document' %>" id="document" role="tabpanel" aria-labelledby="document-tab">
      <%= render "show_documents", proponent: @proponent %>
    </div>

    <div class="tab-pane fade <%= 'show active' if @tab == 'address' %>" id="address" role="tabpanel" aria-labelledby="address-tab">
      <%= render "show_addresses", proponent: @proponent %>
    </div>

    <div class="tab-pane fade <%= 'show active' if @tab == 'contact' %>" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <%= render "show_contacts", proponent: @proponent %>
    </div>
  </div>
</div>

<div class="col-12 pt-2 d-flex justify-content-end">
  <%= button_to "Excluir", @proponent, method: :delete, class: "btn btn-danger me-4 text-uppercase" %>
  <%= link_to "Proponentes", proponents_path, class: "btn btn-secondary text-uppercase me-3" %>
  <%= link_to "Editar", edit_proponent_path(@proponent), class: "btn btn-primary text-uppercase" %>
</div>
